[MESSAGES CONTROL]
    disable=
        consider-using-with,
        eval-used,
        fixme,
        no-member,
        pointless-string-statement,
        too-many-arguments,
        too-many-boolean-expressions,
        too-many-branches,
        too-many-instance-attributes,
        too-many-locals
